@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="images/logo.png" style="height: 150px; width: 278px" />
    <h1 class="display-4">FU Mini Hotel</h1>
    <p>Welcome to Mini Hotel FPT University</p>
    
</div>
