@page
@model NguyenHoangSon_NET1707_A02.Pages.BookingReservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookingReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="BookingReservation.BookingReservationId" class="control-label"></label>
                <input asp-for="BookingReservation.BookingReservationId" value="0" class="form-control" />
                <span asp-validation-for="BookingReservation.BookingReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingReservation.BookingDate" class="control-label"></label>
                <input type="date" asp-for="BookingReservation.BookingDate" class="form-control" />
                <span asp-validation-for="BookingReservation.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingReservation.TotalPrice" class="control-label"></label>
                <input asp-for="BookingReservation.TotalPrice" class="form-control" />
                <span asp-validation-for="BookingReservation.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingReservation.CustomerId" class="control-label"></label>
                <select asp-for="BookingReservation.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group d-none">
                <label asp-for="BookingReservation.BookingStatus" class="control-label"></label>
                <input asp-for="BookingReservation.BookingStatus" value="1" class="form-control" />
                <span asp-validation-for="BookingReservation.BookingStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
