@page
@model NguyenHoangSon_NET1707_A02.Pages.RoomInformations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RoomInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomInformation.RoomNumber" class="control-label"></label>
                <input asp-for="RoomInformation.RoomNumber" class="form-control" />
                <span asp-validation-for="RoomInformation.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomInformation.RoomDetailDescription" class="control-label"></label>
                <input asp-for="RoomInformation.RoomDetailDescription" class="form-control" />
                <span asp-validation-for="RoomInformation.RoomDetailDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomInformation.RoomMaxCapacity" class="control-label"></label>
                <input asp-for="RoomInformation.RoomMaxCapacity" class="form-control" />
                <span asp-validation-for="RoomInformation.RoomMaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomInformation.RoomTypeId" class="control-label"></label>
                <select asp-for="RoomInformation.RoomTypeId" class ="form-control" asp-items="ViewBag.RoomTypeName"></select>
            </div>
            <div class="form-group d-none">
                <label asp-for="RoomInformation.RoomStatus" class="control-label"></label>
                <input asp-for="RoomInformation.RoomStatus" value="1" class="form-control" />
                <span asp-validation-for="RoomInformation.RoomStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomInformation.RoomPricePerDay" class="control-label"></label>
                <input asp-for="RoomInformation.RoomPricePerDay" class="form-control" />
                <span asp-validation-for="RoomInformation.RoomPricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
